---
// components/AboutCoffee.astro
---

<section class="mx-auto py-16">
  <div class="flex flex-col lg:flex-row items-center">
    <img
      src="https://images.unsplash.com/photo-1506619216599-9d16d0903dfd?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Nuestro Café"
      class="w-full lg:w-1/2 rounded-lg shadow-md"
    />
    <div class="mt-6 lg:mt-0 lg:ml-8">
      <h2 class="text-3xl font-bold text-[--color-secondary]">Nuestro Café</h2>
      <p class="mt-4 prose-xl">
        Desde el cultivo hasta la taza, nuestro café es el resultado de un
        meticuloso proceso artesanal. Nos enorgullece cuidar cada detalle para
        ofrecerte una experiencia inigualable.
      </p>
    </div>
  </div>
</section>
