---
interface Props {
  path: string;
  variant?: "default" | "accent";
  label: string;
  target?: boolean;
}

const { variant = "default", path, label, target = "false" } = Astro.props;

const classes = {
  default: "bg-cardBgLight dark:bg-cardBgDark focus-visible:ring-secondary",
  accent: "bg-accent text-primary focus-visible:ring-accent",
}[variant];
---

<a
  href={path}
  aria-label={label}
  target={target ? "_blank" : "_self"}
  class={`px-8 py-4 rounded-full font-semibold transition-all duration-300 transform hover:scale-105 shadow-lg flex items-center justify-center gap-2 hover:shadow-xl hover:bg-opacity-90 focus-visible:ring-2   ${classes}`}
>
  <slot />
</a>
