---
import Title from "@components/shared/Title.astro";
---

<section class="py-16">
  <div class="text-center mb-12">
    <Title> Nuestra Evolución </Title>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    <div class="bg-cardBgLight dark:bg-cardBgDark rounded-lg p-8 shadow-md">
      <h3 class="text-xl font-semibold mb-4">La Cafetería</h3>
      <p>
        Comenzamos como una pequeña cafetería, enfocándonos en servir el mejor
        café de especialidad y creando un ambiente acogedor para nuestros
        clientes.
      </p>
    </div>
    <div class="bg-cardBgLight dark:bg-cardBgDark rounded-lg p-8 shadow-md">
      <h3 class="text-xl font-semibold mb-4">El café</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum autem
        sit, consequatur reiciendis amet natus officiis quam sequi deleniti
        asperiores corrupti.
      </p>
    </div>
    <div class="bg-cardBgLight dark:bg-cardBgDark rounded-lg p-8 shadow-md">
      <h3 class="text-xl font-semibold mb-4">Hoy</h3>
      <p>
        Nos hemos convertido en un punto de encuentro para la comunidad,
        manteniendo nuestra pasión por el café y la buena comida.
      </p>
    </div>
  </div>
</section>
