---
import Layout from "@layouts/Layout.astro";
import Container from "@components/shared/Container.astro";
import AboutCoffe from "@components/products/AboutCoffe.astro";
import Process from "@components/products/Process.astro";
import FAQ from "@components/products/FAQ.astro";
import ThemedHero from "@components/shared/theme/ThemedHero.astro";
import PCard from "@components/products/PCard.astro";
import { getCollection } from "astro:content";

import imagen from "@assets/default.avif";

const products = await getCollection("products");
---

<Layout>
  <main>
    <ThemedHero
      title="El Mejor Café Artesanal"
      body="Cultivado y producido desde cero con pasión y dedicación"
      imagen={imagen}
    />
    <Container>
      <AboutCoffe />
      <Process />
      <section class="mx-auto py-16">
        <h2 class="text-center text-3xl md:text-4xl font-bold mb-6">
          Nuestros Productos
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
          {products.map((product) => <PCard product={product} />)}
        </div>
      </section>
      <FAQ />
    </Container>
  </main>
</Layout>
