---
import { rutas } from "@constants/rutas";
import { Astronav, MenuIcon, MenuItems, StickyHeader } from "astro-navbar";
import Link from "@components/shared/Link.astro";
import { Image } from "astro:assets";
import logo from "@assets/images/eraseLogo.png";
import ThemeToggle from "./shared/ThemeToggle";
import { ArrowLeft } from "lucide-react";

interface Props {
  isProduct?: boolean;
}

const { isProduct = false } = Astro.props;
---

{
  !isProduct ? (
    <StickyHeader
      class="gap-6 z-20 transition-all w-full ease-in-out top-0"
      scrollY={50}
    >
      <div class="max-w-screen-xl mx-auto px-8 md:px-10 leading-tight">
        <Astronav closeOnClick>
          <div class="py-4 flex justify-between items-center flex-col lg:flex-row relative w-full">
            <div>
              <div class="flex justify-between items-center w-full gap-4">
                <a href="/" class="flex flex-row items-center">
                  <Image
                    src={logo}
                    alt="Logo"
                    class="rounded-md md:w-40 w-auto h-auto"
                    loading={"eager"}
                  />
                  <div class="text-center text-white flex flex-col font-bold prose-lg ml-2">
                    <span class="hidden md:block md:text-3xl font-semibold text-secondary">
                      Café Escondido
                    </span>
                  </div>
                </a>
                <div class="block md:hidden">
                  <MenuIcon class="w-6 h-6 text-secondary" />
                </div>
              </div>
            </div>
            <MenuItems class="hidden lg:flex lg:items-center lg:w-auto py-4 md:py-0">
              <ul class="flex flex-col lg:flex-row md:gap-0 gap-10 items-center mt-4 md:mt-0 justify-center">
                {rutas.map(({ path, name }) => (
                  <Link href={path} name={name} />
                ))}
              </ul>
              <div class="items-center justify-center ml-4 flex md:mt-0 mt-4">
                <ThemeToggle client:load />
              </div>
            </MenuItems>
          </div>
        </Astronav>
      </div>
    </StickyHeader>
  ) : (
    <div class="flex justify-between items-center max-w-screen-xl mx-auto px-8 md:px-10 py-4">
      <button
        onclick="window.history.back()"
        class="flex items-center space-x-2 focus:outline-none p-2  dark:bg-primary bg-slate-200 rounded-xl"
        aria-label="Regresar a la página anterior"
      >
        <ArrowLeft size={32} />
        <span class=" text-2xl font-bold">Regresar</span>
      </button>
      <ThemeToggle client:load />
    </div>
  )
}

<style is:global>
  .astronav-dropdown:hover .dropdown-toggle {
    display: block;
  }
</style>
